*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Path: info_quran.css */
body {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    background-image: url(https://wallpapercave.com/wp/wp2993037.png);
    background-attachment: fixed;
}

.wrap{
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header" "section section" "footer footer";
    grid-gap: 30px;
    margin: 0 auto;
    width: 90%;
    padding: 70px 0;
    
}

header{
    width: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: clamp(1rem, 4vw, 1.5rem);
    text-align: center;
    grid-area: header;
}

h2{
    color: brown;
}

p{
    margin: 20px 0;
    text-indent: 20px;
}

.preuve{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    margin: 10px 10%;
    padding: 10px 20px;
    border: 2px solid goldenrod;
    text-indent: 0;
}

.arabeverse{
    font-family: 'Amiri Quran', serif;
    color: black;
    font-size: 25px;
    line-height: 2;
    direction: rtl;
}

.preuve span:nth-child(2){
    font-weight: bold;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

ol li{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid goldenrod;
    width: 80%;
}

.fa-book-quran{
    color: darkgoldenrod;
}

.fa-book-open{
    font-size: 15px;
    color: goldenrod;
    margin-right: 10px;
    animation: infinite 1s linear;
    animation-name: book;
}

@keyframes book{
    
    100%{
        transform: scale(1.2);
    }
}

.fa-sun, .fa-snowflake{
    margin-right: 20px;
    font-size: 20px;
    animation: infinite 1s linear;
    animation-name: sun;
}

@keyframes sun {
    0%{
        color: #fff;
    }
    50%{
        color: rgb(153, 113, 10);
    }
    100%{
        transform: rotate(360deg);
        color:rgb(100, 43, 25);
    }
}

.hadith p{
    font-weight: bold;
    border: 2px solid goldenrod;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

.hadith p:hover{
    background-color: rgba(245, 245, 245, .5);
    color: #333;
}

.verset{
    font-weight: bold;
}

.fa-pen-fancy{
    color: goldenrod;
    font-size: 20px;
    transform: rotate(-135deg);
    transition: all 1s linear;
}

.hadith p:hover .fa-pen-fancy{
    color: #000;
    transform: perspective(1000px) rotate(-180deg);
}

section{
    grid-area: section;
}

#signification{
    margin-top: 20px;
}

ul{
    list-style-type: none;
    padding: 20px 0;
}

ul li{
    margin-bottom: 20px;
}

.liste_rév{
    padding: 0;
    margin: 0;
}

.sous_puce{
    list-style-type:square;
    list-style-position: inside;
    padding: 0;
    margin: 5px 0 0 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sous_puce li{
    border: 1px solid goldenrod;
    background-color: rgba(245, 245, 245, .5);
    padding: 10px 20px;
    margin: 0;
    border-radius: 20px;
}

table{
    width: 100%;
    font-size: 20px;
    margin-left: auto; 
    margin-right: auto;
    border-collapse: collapse;
    color: #000;
}

td, th{
    padding: 10px;
    border: 1px solid;
    text-align: center;
}

tr:nth-child(1){
    background-color: rgba(218, 165, 32, .7);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .4);
}


footer{
    font-size:20px;
    grid-area: footer;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reseau{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    background-color: rgb(201, 149, 130, .5);
    padding: 10px;
}

.reseau a{
    color: #000;
    text-decoration: none;
    transition: all 1s linear;
}

.reseau a:nth-child(1):hover,
.reseau a:nth-child(2):hover{
    color: blue;
    transform: scale(1.1);
}

.reseau a:nth-child(3):hover,
.reseau a:nth-child(4):hover{
    color: red;
    transform: scale(1.2);
}

.Islam {
    font-size: 3em;
    font-family: 'Dancing Script';
}

.fa-ussunnah {
    font-size: 5em;
    color: goldenrod;
}