*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Path: info_quran.css */
body {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-image: url(https://i.pinimg.com/736x/b2/63/63/b263632852fad9d5b314c5fd3bb208e7.jpg);
    background-attachment: fixed;
}

.wrap{
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header" "section section" "footer footer";
    grid-gap: 30px;
    margin: 0 auto;
    width: 90%;
    padding: 70px 0;
    
}

header{
    width: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: clamp(1rem, 4vw, 1.5rem);
    text-align: center;
    grid-area: header;
}

p{
    margin: 20px 0;
    text-indent: 20px;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    list-style-type: none;
    color: #333;
}

ol li{
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f5f5f5;
    transition: all 1s linear;
    width: 90%;
}

.fa-book{
    color: darkgoldenrod;
}

.fa-book-open{
    font-size: 15px;
    color: goldenrod;
    margin-right: 10px;
}

ol li:hover .fa-book-open{
    color: #fff;
}

ol li:hover{
    background-image: radial-gradient(ellipse at center, #fff, rgba(143, 127, 33, 0.5));
    transform: scale(1.1);
}

.hadith p{
    font-weight: bold;
    border: 1px solid;
}

.hadith p:hover{
    background-color: #fff;
    color: #333;
}

.verset{
    font-weight: bold;
}

.fa-pen-fancy{
    color: goldenrod;
    font-size: 20px;
    transform: rotate(-135deg);
    transition: all 1s linear;
}

.hadith p:hover .fa-pen-fancy{
    color: #000;
    transform: perspective(1000px) rotate(-180deg);
}

section{
    grid-area: section;
}

#signification{
    margin-top: 20px;
}

ul{
    list-style-type: none;
    padding: 20px 0;
}

ul li{
    margin-bottom: 20px;
}

.fa-sun{
    margin-right: 20px;
    font-size: 20px;
    animation: infinite 1s linear;
    animation-name: sun;
}

@keyframes sun {
    0%{
        color: #fff;
    }
    50%{
        color: rgb(153, 113, 10);
    }
    100%{
        transform: rotate(360deg);
        color:rgb(100, 43, 25);
    }
}

table{
    width: 100%;
    font-size: 20px;
    margin-left: auto; 
    margin-right: auto;
    border-collapse: collapse;
    color: #000;
}

td, th{
    padding: 10px;
    border: 1px solid;
    text-align: center;
}

tr:nth-child(1){
    background-color: rgba(218, 165, 32, .7);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .4);
}


footer{
    font-size:20px;
    grid-area: footer;
}

.reseau{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    background-color: rgb(201, 149, 130, .5);
    padding: 10px;
}

.reseau a{
    color: #000;
    text-decoration: none;
    transition: all 1s linear;

}

.reseau a:nth-child(1):hover,
.reseau a:nth-child(2):hover{
    color: blue;
    transform: scale(1.1);
}

.reseau a:nth-child(3):hover,
.reseau a:nth-child(4):hover{
    color: red;
    transform: scale(1.2);
}